* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.5;
  text-align: center;
}

.container {
  width: 55vw;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid lightgrey;
}

main hr {
  width: 75%;
  margin: 4rem auto;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: lightgrey;
}

.profile-image img {
  max-height: 35vh;
  border-radius: 50%;
}

.about p {
  font-size: 20px;
  text-align: justify;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: calc(100% / 3 - 1rem);
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  min-height: 100%;
}

.card-body {
  padding: 1.5rem;
}

.card-body h3 {
  margin-top: 0;
}

footer {
  padding: 2rem;
}

footer a {
  margin: 0 1rem;
}
