* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.5;
  text-align: center;
}

.container {
  width: 55vw;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #ddd;
}

main hr {
  width: 75%;
  margin: 4rem auto;
}

.profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.profile-image img {
  max-height: 35vh;
}

.about p {
  font-size: 20px;
  text-align: justify;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  width: calc(100% / 3 - 1rem);
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: left;
}

.card img {
  max-width: 100%;
}

.card-body {
  padding: 1.5rem;
}

footer {
  padding: 2rem;
}

footer a {
  margin: 0 1rem;
}
